@import './variables';

.about-me {
    display: flex;
    flex-direction: column;
    border: $border;

    &__profile-picture {
        clip-path: circle(40%);
        width: 40%;
        height: 40%;
        // object-fit: cover;
    }

    &__text {
        display: flex;
        flex-direction: column;
        // width:40%;
    }
}

@media screen and (min-width: 768px) {
    .about-me.about-me--media-query {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .about-me__text-paragraph {
        font-size: 32px;
        align-items: center;
        justify-content: center;
    }

    .about-me__text-title {
        font-size: 46px;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
}