@use './variables';

.contact-us{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    // border: $border;
    justify-content: space-evenly;
    align-items: center;

    &__email{
        color:white;
    }
    
}

// ------------------------------------media queries-----------------------------------------------------

@media screen  and  (min-width: 768px){
    .contact-us{
        margin:$margin-for-desktop;
        padding:$padding-for-desktop;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

