@import './variables.scss';

.header{
    display: none;
}


@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid green;
    
        .header__nav {
            justify-content: space-around;
            background-color: $secondary-background-colour;
            border-radius: 6px;
            border: $secondary-border;
    
            .header__nav-link {
                background-color: $secondary-background-colour;
    
            }
            .header__nav-button {
                border-radius: 3px;
                border: $secondary-border;
                background-color: transparent;
            
            &:hover {
                background-color: lightblue;
            }
            }
        }
    
    }
}