@import './variables';

.job-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: $primary-border;

    &__text {
        display: flex;
        flex-direction: column;
    }
    &-image {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .job-description {
        margin:50px;
        padding:10px;

        &-image {
            display: flex;
            width: 20%;
            height: auto;
            border-radius: 40px;
        }
    }
}