@import './variables';

.job-description__role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $primary-border;

    &-text {
        display: flex;
        flex-direction: column;
    }

    &-image {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .job-description__role {
        &-image {
            display: flex;
            max-width: 100%;
            height: auto;
            border-radius: 40px;
        }
    }
}