@import './variables';

.technical-skills {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    // border: $border;

    &__title {
        text-decoration: underline;
    }

    &__images {
        display: grid;
        // border: $border;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
        grid-template-areas:
            "git html5 css"
            "javascript scss bem"
            "react java spring";
        gap: 10px;
        @each $skill in git, html5, css, javascript, scss, bem, react, java, spring {
            &-technical-skills__images-#{$skill} {
                grid-area: #{$skill};
            }
        }
    }
}




@media screen and (min-width: 768px) {
    .technical-skills{
        padding: $padding-for-desktop;
        margin: $margin-for-desktop;

        &__images{
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-template-areas: 
            "git html css javascript scss bem react java spring";
            place-items: center;
        }
    }
}