// Import Madimi One font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

// Apply the imported font to the body
body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 22px
}
