@use './header.scss';
@use './typography';
@use './jobdescription';
@use './about-me';
@use './technical-skills';
@use './my-projects';
@use './contact-us';
@import './variables';

* {
    margin: 5px;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
}

body{
    background-color: $primary-background-colour;
}

h1 {
    font-size: $h1-font-size;
    margin-bottom: 50px;
    text-decoration: underline;
}

p{
    margin-bottom: 30px;
}

button {
    background-color: $secondary-background-colour;
    border-radius: 3px;
    border: $secondary-border;

    &:hover {
        background-color: lightblue;
    }
}


// -------------------------------------------------------------------media queries----------------------


@media screen and (min-width: 768px) {
    * {

    }
}



