@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 50px;
  }
  .header__nav {
    justify-content: space-around;
    background-color: #D8A7B1;
    border-radius: 6px;
    border: 1px solid grey;
  }
  .header__nav-link {
    background-color: #D8A7B1;
  }
  .header__nav-button {
    background-color: transparent;
  }
}
body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 22px;
}

.job-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-description-text {
  display: flex;
  flex-direction: column;
}
.job-description-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .job-description {
    margin: 50px;
    padding: 10px;
  }
  .job-description-image {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 40px;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me__profile-picture {
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  width: 100%;
  height: auto;
  order: 1;
}

.about-me__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas: "title" "img" "paragraph";
}

.about-me__text-title {
  order: -1;
}

.about-me__text-paragraph {
  order: 2;
}

@media screen and (min-width: 768px) {
  .about-me__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "img title" "img paragraph";
  }
  .about-me {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 50px;
  }
  .about-me__profile-picture {
    width: 400px;
    grid-area: img;
    justify-self: center; /* Adjust as needed */
  }
  .about-me__text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-me__text-paragraph {
    grid-area: paragraph;
  }
  .about-me__text-title {
    grid-area: title;
    max-height: 50px;
  }
}
.technical-skills {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.technical-skills__title {
  text-decoration: underline;
}
.technical-skills__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  justify-content: center;
  grid-template-areas: "git html css" "javascript scss bem" "react java spring";
  gap: 10px;
}
.technical-skills .technical-skills__images-git {
  grid-area: git;
}
.technical-skills .technical-skills__images-html {
  grid-area: html;
}
.technical-skills .technical-skills__images-css {
  grid-area: css;
}
.technical-skills .technical-skills__images-javascript {
  grid-area: javascript;
}
.technical-skills .technical-skills__images-scss {
  grid-area: scss;
}
.technical-skills .technical-skills__images-bem {
  grid-area: bem;
}
.technical-skills .technical-skills__images-react {
  grid-area: react;
}
.technical-skills .technical-skills__images-java {
  grid-area: java;
}
.technical-skills .technical-skills__images-spring {
  grid-area: spring;
}

@media screen and (min-width: 768px) {
  .technical-skills {
    padding: 10px;
    margin: 50px;
  }
  .technical-skills__images {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "git html css javascript scss bem react java spring";
    place-items: center;
  }
}
.my-projects__title {
  text-align: center;
  text-decoration: underline;
}
.my-projects__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  grid-template-areas: "project1" "project2" "project3";
}
.my-projects__cards__section-1 {
  display: grid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img" "card-text";
}
.my-projects__cards__section-1:nth-child(1) {
  grid-area: project1;
}
.my-projects__cards__section-1:nth-child(2) {
  grid-area: project2;
}
.my-projects__cards__section-1:nth-child(3) {
  grid-area: project3;
}
.my-projects__cards__section-1:nth-child(4) {
  grid-area: project4;
  display: none;
}
.my-projects__cards__section-1:nth-child(5) {
  grid-area: project5;
  display: none;
}
.my-projects__cards__section-1:nth-child(6) {
  grid-area: project6;
  display: none;
}
.my-projects__cards__section-1-image {
  grid-area: img;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-projects__cards__section-1-text-button-1 {
  background-color: #D8A7B1;
  color: #fefbea;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid grey;
}
.my-projects__cards__section-1-text-button-2 {
  background-color: #D8A7B1;
  color: #fefbea;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid grey;
}

@media screen and (min-width: 768px) {
  .my-projects__cards {
    margin: 50px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas: "project1 project2 project3" "project4 project5 project6";
    gap: 10px;
  }
  .my-projects__cards__section-1:nth-child(4) {
    grid-area: project4;
    display: block;
  }
  .my-projects__cards__section-1:nth-child(5) {
    grid-area: project5;
    display: block;
  }
  .my-projects__cards__section-1:nth-child(6) {
    grid-area: project6;
    display: block;
  }
  .my-projects__cards__section-1-image {
    max-width: 85%;
  }
}
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}
.contact-us__email {
  color: white;
}

@media screen and (min-width: 768px) {
  .contact-us {
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
* {
  margin: 5px;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background-color: #fefbea;
}

h1 {
  font-size: 32px;
  margin-bottom: 50px;
  text-decoration: underline;
}

p {
  margin-bottom: 30px;
}

button {
  background-color: #D8A7B1;
  border-radius: 3px;
  border: 1px solid grey;
}
button:hover {
  background-color: lightblue;
}/*# sourceMappingURL=main.css.map */